<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="../js/vue.js"></script>
</head>

<body>
  <div id="root">
    <!-- 遍历数组 -->
    <ul>
      <li v-for="(p,index) in persons" :key="p.id">
        {{p.name}}-{{p.age}}
      </li>

    </ul>
    <!-- 遍历对象 -->
    <ul>
      <li v-for="(value,key) in car" :key="key">
        {{value}}-{{key}}
      </li>
    </ul>
  </div>
  <script>
    new Vue({
      el: "#root",
      data: {
        persons: [
          { id: 1, name: "张三", age: 18 },
          { id: 2, name: "李四", age: 19 },
          { id: 3, name: "王五", age: 17 }],
        car: {
          name: "奔驰",
          color: "black"
        }
      }
    })
  </script>
</body>

</html>